appdirs==1.4.0
beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
enum34==1.1.6
Flask==0.12
google-auth==0.7.0
google-auth-httplib2==0.0.2
google-cloud-core==0.22.1
google-cloud-vision==0.22.0
googleapis-common-protos==1.5.2
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
protobuf==3.2.0
pyasn1==0.2.2
pyasn1-modules==0.0.8
pyparsing==2.1.10
pysolr==3.6.0
requests==2.13.0
rsa==3.4.2
six==1.10.0
watson-developer-cloud==0.23.0
webcolors==1.7
Werkzeug==0.11.15
