{% extends "base.html" %}
{% block content %}
    <div id="time">
        <div id="time_hours">{{hour}}</div>
        <br>
        <div id="time_min">{{minute}}</div>
        <br>
        <div id="time_median">{{am_pm}}</div>
        <hr />
        <div id="time_weather"><img src="{{ url_for('static', filename='img/TH17_icons-01.png') }}"></div>
    </div>

    <div id="bottom">
        <div><img src="{{ url_for('static', filename='img/TH17_icons-04.png') }}"></div>
         Tell Alexa to take you to Mirror Maru.
    </div>

{% endblock %}
{% block scripts %}{% endblock %}